<% content_for :header do %>
  <section class="hero is-dark is-large">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">Monster Hunter: World Logs</h1>
        <h2 class="subtitle">Bringing a new level of understanding to your game!</h2>
      </div>
    </div>
  </section>
<% end %>
